<header class="menuHeader">
    <div class="leftHeader">
        <a href="">Home</a>
        <a href="">Explore</a>
        <a href="">Config</a>
    </div>
    <div class="rightHeader">
        <input type="text">
        <button>Search</button>
        <a href="">Profile</a>
    </div>
</header>