<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="./stylesheets/index.css">
</head>

<body>
  <%- include('./partials/header')%>

    <section class="tweetContainer">
      <h2 class="latestTweets">Latest Tweets</h2>
      <div class="tweet">
        <h3 class="user">
          <span class="material-icons">account_circle</span>
          @usuario1234
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae, earum laudantium aliquam illum
          debitis alias minima nemo pariatur labore vel ex doloribus unde architecto sequi iste maxime nostrum corrupti.
        </p>
        <div class="interactionButtonContainer">
          <button class="likeButton">
            <span class="material-icons">
              favorite_border
            </span>
          </button>
          <button class="commentButton">
            <span class="material-icons">
              question_answer
            </span>
          </button>
        </div>
        <p class="tweetDate">
          Publicado 02/03/22
        </p>
      </div>


      <div class="tweet">
        <h3 class="user">
          <span class="material-icons md-48">account_circle</span>
          @usuario1234
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae, earum laudantium aliquam illum
          debitis alias minima nemo pariatur labore vel ex doloribus unde architecto sequi iste maxime nostrum corrupti.
        </p>
        <div class="interactionButtonContainer">
          <button class="likeButton">
            <span class="material-icons">
              favorite_border
            </span>
          </button>
          <button class="commentButton">
            <span class="material-icons">
              question_answer
            </span>
          </button>
        </div>
        <p class="tweetDate">
          Publicado 02/03/22
        </p>
      </div>


      <div class="tweet">
        <h3 class="user">
          <span class="material-icons md-48">account_circle</span>
          @usuario1234
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, beatae, earum laudantium aliquam illum
          debitis alias minima nemo pariatur labore vel ex doloribus unde architecto sequi iste maxime nostrum corrupti.
        </p>
        <div class="interactionButtonContainer">
          <button class="likeButton">
            <span class="material-icons">
              favorite_border
            </span>
          </button>
          <button class="commentButton">
            <span class="material-icons">
              question_answer
            </span>
          </button>
        </div>
        <p class="tweetDate">
          Publicado 02/03/22
        </p>
      </div>

    </section>


</body>

</html>