*{
    font-family: 'Roboto Serif', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0px
}
.menuHeader{
    /* padding: 10px 40px 10px 40px;
    height: 80px;
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; */
    background-color: #EDDF9D;
    color: #DADBBD;
}
.mainLogo{
    margin: auto;
    text-align: center;
    padding-top: 20px;
}
.mainLogo img{
    width: 180px;
}
.burguerButtonContainer{
    text-align: center;
    margin: auto;
    padding: 20px 0px;
}
.menuBigScreen{
    display: none;
}
/* .menuHeader a{ */
    /* color: #DADBBD; */
    /* text-decoration: none; */
    /* margin-top: 50%; */
    /* padding: 50% 15px; */
    /* padding-top: 100%; */
    /* border-radius: 6px; */
    /* padding: 20px 20px; */
/* } */
/* .menuHeader a:hover{
    color: #eaebd7;
    background-color: #232e58;
    text-align: center;
}

.leftHeader{
    text-align: left;
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.rightHeader{
    width: 70%;
    text-align: right;
}
 */

 .tweetContainer{
     width: 55%;
     text-align: left;
     margin: auto;
 }
